<div class="container mx-auto p-4">
  <h2 class="text-2xl text-[#2a372c] font-bold mb-4 text-center">List of collection requests</h2>
  <div *ngIf="requests && requests.length > 0; else noRequests">
    <div class="flex flex-wrap gap-16">
      <div *ngFor="let request of requests"
           class="shadow-xl p-6 rounded mb-4 bg-white"
           style="height: 400px; width: 400px">
        <div class="mt-4 text-gray-800">
          <p><strong>Photos:</strong></p>
          <!-- If there are more than one image, use p-carousel -->
          <div *ngIf="request.photos && request.photos.length > 1; else singleOrFallback">
            <p-carousel [value]="request.photos"
                        [numVisible]="1"
                        [numScroll]="1"
                        [circular]="true"
                        [autoplayInterval]="3000">
              <ng-template pTemplate="item" let-photo let-i="index">
                <img [src]="photo" alt="Image {{ i + 1 }}" width="100%" height="300" style="object-fit: cover;" class="rounded">
              </ng-template>
            </p-carousel>
          </div>
          <ng-template #singleOrFallback>
            <div *ngIf="request.photos && request.photos.length === 1; else fallbackImage">
              <img [src]="request.photos[0]"
                   alt="Image 1"
                   width="100%"
                   height="300"
                   style="object-fit: cover;"
                   class="rounded">
            </div>
            <ng-template #fallbackImage>
              <p>No Image</p>
            </ng-template>
          </ng-template>
        </div>
        <!-- Request Details -->
        <p class="text-gray-800"><strong>Address:</strong> {{ request.collectionAddress }}</p>
        <p class="text-gray-800"><strong>Date:</strong> {{ request.collectionDate | date }}</p>
        <p class="text-gray-800"><strong>Time Slot:</strong> {{ request.timeSlot }}</p>
        <p class="text-gray-800"><strong>Estimated Weight:</strong> {{ request.estimatedWeight }} g</p>
        <p class="text-gray-800"><strong>Waste Types:</strong> {{ request.wasteTypes.join(', ') }}</p>
        <p class="text-gray-800"><strong>Status:</strong> {{ request.status }}</p>

        <!-- Actions for a 'particular' user -->
        <div *ngIf="currentUserRole === userRole.Particular" class="mt-4 gap-4">
          <a [routerLink]="['/edit-request', request.id]">
            <button *ngIf="request.status === RequestStatus.EnAttente"
                    class="bg-[#82b53e] text-white px-4 py-2 rounded">
              Update
            </button>
          </a>
          <button *ngIf="request.status === RequestStatus.EnAttente"
                  (click)="deleteRequest(request.id)"
                  class="bg-red-500 text-white px-4 py-2 rounded ml-2">
            Delete
          </button>
        </div>
        <!-- Actions for a 'collector' -->
        <div *ngIf="currentUserRole === userRole.Collector">
          <label class="block font-medium text-gray-700 mb-2">Change status:</label>
          <select class="bg-green-200 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                  (change)="updateStatus(request, getSelectValue($event))">
            <option [value]="RequestStatus.EnAttente" selected>Pending</option>
            <option class="py-2.5 px-5 hover:bg-blue-50 text-black text-sm cursor-pointer" [value]="RequestStatus.Occupee">Occupied</option>
            <option class="py-2.5 px-5 hover:bg-blue-50 text-black text-sm cursor-pointer" [value]="RequestStatus.EnCours">In progress</option>
            <option class="py-2.5 px-5 hover:bg-blue-50 text-black text-sm cursor-pointer" [value]="RequestStatus.Validee">Approved</option>
            <option class="py-2.5 px-5 hover:bg-blue-50 text-black text-sm cursor-pointer" [value]="RequestStatus.Rejetee">Rejected</option>
          </select>
        </div>


      </div>
    </div>
  </div>
  <ng-template #noRequests>
    <p class="text-[#2a372c]">No collection requests found !!</p>
  </ng-template>
</div>
